<!DOCTYPE html>
<html>
  <head>
    <title>FarmersTrust</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!--slick-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <% unless current_page?(root_path) %>
      <% if admin_signed_in? %>
        <header>
          <div class="header-content-1">
            <%= link_to 'FarmersTrust', admin_top_path, class: "logo" %>
          </div>
          <div class="header-content-2">
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to '商品一覧', admin_items_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to '会員一覧', admin_customers_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to '注文履歴一覧', admin_orders_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to 'ジャンル管理', admin_genres_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </header>
            <%#<%= form_tag(admin_search_path, method: :get) do %>
            <%#  <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
            <%#  <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
            <%#  <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%#  <%= submit_tag '検索', class: "btn btn-primary" %>
            <%#<% end %>
      <% elsif customer_signed_in? %>
        <header>
          <div class="header-content-1">
            <%= link_to 'FarmersTrust', root_path, style: "text-decoration:none"  %>
          </div>
          <div class="header-content-2">
            <ul class="nav-list">
              <li class="nav-list-item">
                <p>ようこそ、<%= current_customer.full_name %>さん!</p>
              </li>
              <li class="nav-list-item">
                <%= link_to 'マイページ', "/customers/#{current_customer.id}", style: "text-decoration:none" %>
              </li>
              <li class="nav-list-item">
                <%= link_to '商品一覧', items_path, style: "text-decoration:none" %>
              </li>
              <li class="nav-list-item">
                <%= link_to 'カート', cart_items_path, style: "text-decoration:none" %>
              </li>
              <li class="nav-list-item">
                <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, style: "text-decoration:none" %>
              </li>
            </ul>
          </div>
        </header>
      <% else %>
        <header>
          <div class="header-content-1">
            <%= link_to 'FarmersTrust', root_path, style: "text-decoration:none"  %>
          </div>
          <div class="header-content-2">
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to 'About', about_path, style: "text-decoration:none"  %>
              </li>
              <li class="nav-list-item">
                <%= link_to '商品一覧', items_path, style: "text-decoration:none"  %>
              </li>
              <li class="nav-list-item">
                <%= link_to '新規登録', new_customer_registration_path, style: "text-decoration:none"  %>
              </li>
              <li class="nav-list-item">
                <%= link_to 'ログイン', new_customer_session_path, style: "text-decoration:none"  %>
              </li>
            </ul>
          </div>
        </header>
      <% end %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if customer_signed_in? %>
      <div class="footer_menu">
        <%= link_to 'お問い合わせ', new_contact_path, style: "text-decoration:none" %>
      </div>
      <footer>
        FarmersTrust All Rights Reserved.
      </footer>
    <% else %>
      <footer>
        FarmersTrust All Rights Reserved.
      </footer>
    <% end %>
  </body>
</html>
